@page
@model RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Stwórz nowe konto na naszej stronie</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="imie@przyklad.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="haslo" />
                <label asp-for="Input.Password">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="haslo" />
                <label asp-for="Input.ConfirmPassword">Powtórz hasło</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <div class="form-check">
                    <input class="form-check-input" checked asp-for="Input.IsSiteUser" type="radio" value="true"/>
                    <label class="form-check-label">Zarejestruj się jako użytkownik</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Input.IsSiteUser" type="radio" value="false" />
                    <label class="form-check-label">Zarejestruj się jako Firma</label>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj się</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
