@using Clothers.Enums
@model Clothers.ViewModels.ProductsViewModel

@{
    ViewData["Title"] = "Tworzenie produktu";
}


<form asp-action="Create" asp-controller="Clothes" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sizes" class="control-label"></label>
        <select asp-for="Sizes" class="form-control" asp-items="Html.GetEnumSelectList<ProductSizes>()">
            <option value="">-- Wybierz rozmiar --</option>
        </select>
        <span asp-validation-for="Sizes" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" type="number" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Image" class="form-label">Prześlij zdjęcie</label>
        <input id="Image" name="Image" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Stwórz</button>
    <a asp-action="Index" asp-controller="Clothes" class="btn btn-secondary">Anuluj</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
